{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="jumbotron my-3">
        <div class="row">
            <h1 class="mx-auto">Ici c'est Vue</h1>
        </div>
        <hr class="my-4"></hr>
        <div>
            <p class="lead">Bon en gros ici j'essaie de mettre en place Vuejs dans le projet...</p>
            <button class="btn btn-primary">Lancer un pingouin !</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}
