{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="jumbotron my-3">
    <div class="row">
        <h1 class="mx-auto">Welcome to la page d'accueil</h1>
    </div>
    <hr class="my-4"></hr>
    <div>
        <p class="lead">Ici, on essaie d'apprendre Symfony 4 et Vuejs, c'est pas gagné...</p>
        <a href="/vue" class="btn btn-success">Découvrir</a>
    </div>
</div>
{% endblock %}
